
    <nav class="navbar is-primary">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item <%= path === '/prove' ? 'is-active' : '' %>" href="/prove">Prove10 and 11</a>

                <a class="navbar-item <%= path === '/login' ? 'active' : '' %>" href="/">Prove12-login</a>
                <a class="navbar-item <%= path === '/chat' ? 'active' : '' %>" href="/chat">Prove12-chat</a>
            </div>
        </div>
    </nav>
