<body>
    <main>
        <div id="listdata"></div>
        <div>
            <input type="text" , id="newAvenger" , placeholder="New Avenger's name">

            <button id="submitAvenger" onclick="submitAvenger()">Submit</button>

        </div>

    </main>

    <script src="js/prove10.js"></script>
</body>