<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>
<body>
    <main>
        <div class="container is-max-desktop">

        
        <div id="listdata"></div>
        <div class="field has-addons">
            <div class="control">
                <input type="text" class="input"  id="newAvenger"  placeholder="New Avenger's name">
            </div>
            <div class="control">

            <button class="button is-link" id="submitAvenger" onclick="submitAvenger()">Submit</button>
            </div>

        </div>
    </div>

    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/prove10.js"></script>
<script>

</script>
</body>