<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>
<body>
    <main>
        <div id="listdata"></div>
        <div>
            <input type="text" , id="newAvenger" , placeholder="New Avenger's name">

            <button id="submitAvenger" onclick="submitAvenger()">Submit</button>

        </div>

    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/prove10.js"></script>
<script>

</script>
</body>